*{
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #d1beb0;
}

.header{
    width: 100%;
}

.navbar{
    display: flex;
    margin: 0%;
    padding: 0%;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: solid black;
    background-color: #900020;
    font-size: 1.4rem;
    box-shadow: 1px 9px 6px 0px rgba(0,0,0,0.75);
    left: 0%;
    top: 0%;
    right: 0%;
    height: 40px;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
}

.navbar img{
    width: 150px;
}

.navbar a{
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    transition-property: all;
}

.navbar a:hover{
    color: #E9DDD4;
    border-bottom: solid #E9DDD4;
}

#portada{
    width: 100%;
    height: 99vh;
    margin: 0%;

}

.primera-seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

#portada2{
    width: 100%;
    height: 350px;
}

.segunda-seccion{
    text-align: center;
}

.redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes img{
    width: 110px;
}

footer{
    text-align: center;
    margin-top: 15px;
    border-top: solid black;
}

.titulo-heroes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.heroes1{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    flex-wrap: wrap;
}

.heroe{
    display: flex;
    align-items: center;
    border: solid black;
    border-radius: 5%;
    position: relative;
}

.heroe img{
    width: 100%;
    height: 350px;
    border-radius: 5%;
}

.texto-heroe{
    display: flex;
    height: 100%;
    color: whitesmoke;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding-left: 5px;
    opacity: 0;
    transition: all 1s;
    background: rgba(11,103,123,0.8);
    border-radius: 5%;
}


.texto-heroe h2{
    margin: 4px;
}

.texto-heroe p{
    margin: 4px;
}

.texto-heroe:hover{
    opacity: 1;
}

.texto-villano{
    display: flex;
    height: 100%;
    color: whitesmoke;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding-left: 5px;
    opacity: 0;
    transition: all 1s;
    background: rgba(105, 28, 9, 0.8);
    border-radius: 5%;
}


.texto-villano h2{
    margin: 4px;
}

.texto-villano p{
    margin: 4px;
}

.texto-villano:hover{
    opacity: 1;
}

.fase{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    flex-wrap: wrap;
}

.pelicula{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pelicula img{
    height: 350px;
    border-radius: 5%;
}

.pelicula h2{
    font-size: 1rem;
}

.ir-arriba{
    text-align: center;
    color:#900020;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

}

.cuadro-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: solid black;
    width: 20%;
    border-radius: 25px;
    background: #ece0e3;
    box-shadow: -3px 9px 19px 4px rgba(0,0,0,0.75);
}

.cuadro-login a{
margin: 0%;
}

.cuadro-login img{
    width: 150px;
}

.cuadro-login input, button{
    margin-top: 8px;
    padding: 3px;
}

.cuadro-login button{
    width: 125px;
}

.cuadro-login a{
    color: black;
}

.gifs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gifs img{
    width: 220px;
}

.cuadro-login button:hover{
    color:#E9DDD4;
    background:#900020;
}

@media (max-width: 768px) {
    .heroe{
        margin-top: 25px;
    }

}

@media (max-width: 746px) {
    .cuadro-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: solid black;
    width: 30%;
    border-radius: 25px;
    background: #ece0e3;
    box-shadow: -3px 9px 19px 4px rgba(0,0,0,0.75);
}


@media (max-width: 712px) {
    .navbar{
        display: flex;
        margin: 0%;
        padding: 0%;
        padding-bottom: 5px;
        padding-top: 5px;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        border: solid black;
        background-color: #900020;
        font-size: 1rem;
        left: 0%;
        top: 0%;
        right: 0%;
        height: 40px;
        opacity: 0.9;
        position: fixed;
        z-index: 1;
    }
    
}

@media (max-width: 547px) {
    .navbar{
        display: flex;
        margin: 0%;
        padding: 0%;
        padding-bottom: 5px;
        padding-top: 5px;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        border: solid black;
        background-color: #900020;
        font-size: 0.8rem;
        left: 0%;
        top: 0%;
        right: 0%;
        height: 40px;
        opacity: 0.9;
        position: fixed;
        z-index: 1;
    }
    .cuadro-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border: solid black;
    width: 40%;
    border-radius: 25px;
    background: #ece0e3;
    box-shadow: -3px 9px 19px 4px rgba(0,0,0,0.75);
}

    @media (max-width: 547px) {
        .navbar{
            display: flex;
            margin: 0%;
            padding: 0%;
            padding-bottom: 5px;
            padding-top: 5px;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            border: solid black;
            background-color: #900020;
            font-size: 0.7rem;
            left: 0%;
            top: 0%;
            right: 0%;
            height: 40px;
            opacity: 0.9;
            position: fixed;
            z-index: 1;
        }
    }    

    @media (max-width: 360px) {
        .navbar{
            display: flex;
            margin: 0%;
            padding: 0%;
            padding-bottom: 5px;
            padding-top: 5px;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            border: solid black;
            background-color: #900020;
            font-size: 0.5rem;
            left: 0%;
            top: 0%;
            right: 0%;
            height: 40px;
            opacity: 0.9;
            position: fixed;
            z-index: 1;
        }

        .navbar img{
            width: 100px;
        }

        .cuadro-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        border: solid black;
        width: 60%;
        border-radius: 25px;
        background: #ece0e3;
        box-shadow: -3px 9px 19px 4px rgba(0,0,0,0.75);
    }
    }

    @media (max-width: 444px) {
        .navbar{
            display: flex;
            margin: 0%;
            padding: 0%;
            padding-bottom: 5px;
            padding-top: 5px;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            border: solid black;
            background-color: #900020;
            font-size: 0.5rem;
            left: 0%;
            top: 0%;
            right: 0%;
            height: 40px;
            opacity: 0.9;
            position: fixed;
            z-index: 1;
        }

        @media (max-width: 400px) {
            .navbar{
                display: flex;
                margin: 0%;
                padding: 0%;
                padding-bottom: 5px;
                padding-top: 5px;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                border: solid black;
                background-color: #900020;
                font-size: 0.5rem;
                left: 0%;
                top: 0%;
                right: 0%;
                height: 40px;
                opacity: 0.9;
                position: fixed;
                z-index: 1;
            }
            
            #portada{
                width: 100%;
                height: 300px;
            }

            .redes a img{
                width: 50px;
            }
            .cuadro-login{
                    width: 50%;
                }
            
            
            .gifs img{
                    width: 50px;
                    margin-top: 25px;
                }
            }
